[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
slow_query_log = ON
slow_query_log_file = /var/log/mysql/slow.log
slow_launch_time = 2
long_query_time=10
max_connections=5000
connect_timeout=100
max_user_connections=1200
max_connect_errors=10000
wait_timeout=1000
interactive_timeout=1000
max_allowed_packet=512M


# By default we only accept connections from localhost
bind-address = 0.0.0.0
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
innodb_buffer_pool_size = 4G
innodb_file_per_table=1
innodb_log_file_size=1024M
innodb_log_buffer_size=64M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT

skip-name-resolve

default_authentication_plugin=mysql_native_password