PWD=./
LOCAL_STOARGE_PATH=./
LOCAL_WEB_PATH=/Users/bossa/code/works
NETWORK_EXT_NAME=my_net_dev
IPV4_PREFIX=172.28.1.
CONTAINER_PRIFIX=com_

# timezone
TIMEZONE=Asia/Shanghai

# nginx config
NGINX_VERSION=1.17.8

# php config
PHP_VERSION=8.1.1

# mysql config
MYSQL_VERSION=bitnami/mysql:8.0.19-debian-10-r32
MYSQL_ROOT_PASSWORD=root

# redis config
REDIS_VERSION=bitnami/redis:5.0.7-debian-10-r31
REDIS_PASSWORD=root

# mongo config
MONGO_VERSION=bitnami/mongodb:4.4-debian-10
MONGO_ROOT_PASSWORD=root

# memcache config
MEMCACHED_VERSION=bitnami/memcached:1.6.15
MEMCACHED_USERNAME=root
MEMCACHED_PASSWORD=root